body {
    background-image: url(https://images.ctfassets.net/qr4fhhcghyn4/6a3ec7af61ab894f669470444cb60b02220af767/92bb1b1a8c8b838eacde831ab28b94bc/how-to-ask-a-friend-if-theyre-ok-thumbnail.jpg?w=3840&q=75&fm=webp);
    font-family: sans-serif;
    padding: 20px;
    max-width: 750px;
    min-width: 500px;
    width: 60%;
    margin: auto;
    font-size: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    text-align: center;
  }
  
  form {
    background-color: rgba(255,255,255,.9);
  }
  
  #description {
    text-align: center;
    font-style: italic;
  }
  
  .duo {
    margin: 10px 0;
  }
  
  .label-input {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .inp {
    flex: 1;
  }
  
  .check {
    padding: 5px;
  }
  
  fieldset {
    border-width: 0;
    margin-bottom: -10px;
  }
  
  textarea {
    width: 97%;
  }
  
  #submit {
    margin: 0 auto;
    display: block;
    width: 100px;
    font-size: 15px;
    background-color: rgb(0,255,0);
    color: white;
    border-width: 1;
  }